<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Think.config.TITLE}</title>
<meta name="keywords" content="{$Think.config.KEYWORDS}" />
<meta name="description" content="{$Think.config.DESCRIPTION}" />
<link type="text/css" rel="stylesheet" href="http://img.tiandaoedu.com/list/css/cgal/base.css" />
<link type="text/css" rel="stylesheet" href="http://img.tiandaoedu.com/list/css/cgal/style.css" />
<link type="text/css" rel="stylesheet" href="http://img.tiandaoedu.com/list/css/cgal/lunbo.css" />
<script src="http://img.tiandaoedu.com/list/js/cgal/jquery-1.11.1.min.js" type="text/javascript"></script>
<script>
(function() {
  var _53code = document.createElement("script");
  _53code.src = "//tb.53kf.com/code/code/10136855/1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(_53code, s);
})();</script>


<script type="text/javascript" src="http://img.tiandaoedu.com/index/2012/js/jquery.js"></script>
<script src="http://img.tiandaoedu.com/list/js/jb.js" type="text/javascript"></script>
<script src="http://img.tiandaoedu.com/list/js/js_right.js" type="text/javascript"></script>

<script type="text/javascript">
   	$(function(){
        $(".box_sd li").click(function() {
   			var index=$(this).index();
   			$('.box1 .dsy').eq(index).show().siblings().hide();
   			$(this).addClass('bgs').siblings().removeClass('bgs');
		})
   })
</script> 

<script type="text/javascript">
   	$(function(){
        $(".box_b dl").hover(function() {
   			var index=$(this).index();
   			$('.boxd .dsyx').eq(index).show().siblings().hide();
   			$(this).addClass('bgc').siblings().removeClass('bgc');
		})
   })
   
</script>
<script type="text/javascript">
function changebox(n) {
	var i = 1;
	while(true){
		try{
			document.getElementById("a"+i).style.display = 'none';
			document.getElementById("b"+i).style.display = 'block';	
		}
		catch(e){
			break;
		}
		i++;
	}
	document.getElementById("a"+n).style.display = 'block';
	document.getElementById("b"+n).style.display = 'none';
}
</script>
<script type=text/javascript>
//新页面打开
$(function(){
	$("a[href][target!='_self']").click(function(){
		$(this).attr("target","_blank")
	})	 
})
</script>
</head>
<body id="scu" style="background:#fff;">
<include file="./base_web/suipian/1000/46_utf8.html"/>
<div class="lunbo" id="lunbo">
    <p>
      <span class="l_s1"></span>
      <span class="l_s2"></span>
      <span class="l_s3"></span>
    </p>
    <li class="l_li2"><a href="http://tiandaoedu.com/tdgj/pg/"></a></li>
    <li class="l_li1"><a href="http://tiandaoedu.com/lxcp/lxfa/"></a></li>
    <li class="l_li3">
        <a href="http://www.tiandaoedu.cn/" rel="nofollow" ></a>
    </li>
</div>

<div class="nav">
    <ul>
        <li><a href="http://tiandaoedu.com/lxcp/offer/">天道录取榜</a></li>
        <li><a href="http://tiandaoedu.com/cgal/">成功案例</a></li>
        <li><a href="http://tiandaoedu.com/lxcp/xzft/">学子访谈</a></li>
        <li><a href="http://tiandaoedu.com/lxcp/zylq/">专业录取分析</a></li>
        <li><a href="http://tiandaoedu.com/lxcp/offerzs/">OFFER展示</a></li>
        <li><a href="http://tiandaoedu.com/lxcp/gxx/">感谢信</a></li>
    </ul>
</div>
<p class="p_one c1">不一样的故事</p>
<p class="p_two c11">梦想与现实的距离，我们用行动丈量</p>
<div style="background:#f9f9f9; padding-bottom: 28px;" >
<div class="changeList box_b">
  <dl class="bgc">
    <dt id="b1" style="display:none" onmouseover="changebox(1);"><img src="http://img.tiandaoedu.com/list/images/cgal/a1.png" /></dt>
    <dd id="a1" ><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-hszy/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b1.png" /></a></div></dd>
  </dl>
    <dl  class="bgc">
    <dt id="b2" onmouseover="changebox(2);"><img src="http://img.tiandaoedu.com/list/images/cgal/a2.png" /></dt>
    <dd id="a2" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-zzsq/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b2.png" /></a></div></dd>
  </dl>
  <dl>
    <dt id="b3" onmouseover="changebox(3);"><img src="http://img.tiandaoedu.com/list/images/cgal/a3.png" /></dt>
    <dd id="a3" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-dffz/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b3.png" /></a></div></dd>
  </dl>
  <dl>
    <dt id="b4" onmouseover="changebox(4);"><img src="http://img.tiandaoedu.com/list/images/cgal/a4.png" /></dt>
    <dd id="a4" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-xbnx/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b4.png" /></a></div></dd>
  </dl>
  <dl style="border-right:0;">
    <dt id="b5" onmouseover="changebox(5);"><img src="http://img.tiandaoedu.com/list/images/cgal/a5.png" /></dt>
    <dd id="a5" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-cct/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b5.png" /></a></div></dd>
  </dl>
  <dl style="border-bottom:0;">
    <dt id="b6" onmouseover="changebox(6);"><img src="http://img.tiandaoedu.com/list/images/cgal/a6.png" /> </dt>
    <dd id="a6" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-diysl/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b6.png" /></a></div></dd>
  </dl>
  <dl style="border-bottom:0;">
    <dt id="b7" onmouseover="changebox(7);"><img src="http://img.tiandaoedu.com/list/images/cgal/a7.png" /> </dt>
    <dd id="a7" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-hwsq/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b7.png" /></a></div></dd>
  </dl>
  <dl style="border-bottom:0;">
    <dt id="b8" onmouseover="changebox(8);"><img src="http://img.tiandaoedu.com/list/images/cgal/a8.png" /></dt>
    <dd id="a8" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-wlxy/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b8.png" /></a></div></dd>
  </dl>
  <dl style="border-bottom:0;">
    <dt id="b9" onmouseover="changebox(9);"><img src="http://img.tiandaoedu.com/list/images/cgal/a9.png" /> </dt>
    <dd id="a9" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-qld/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b9.png" /></a></div></dd>
  </dl>
  <dl style="border-bottom:0;border-right:0;">
    <dt id="b10" onmouseover="changebox(10);"><img src="http://img.tiandaoedu.com/list/images/cgal/a10.png" /> </dt>
    <dd id="a10" style="display:none;"><div class="changeListText"><a href="http://tiandaoedu.com/cgal/lx/all-all-all-ys/" target="_blank"><img src="http://img.tiandaoedu.com/list/images/cgal/b10.png" /></a></div></dd>
  </dl>
</div> 
</div>

<img src="http://img.tiandaoedu.com/list/images/cgal/cgal_02.jpg" style="width:100%; overflow:hidden;height:18px; " />
<div class="cgal_02 boxd">
    <div class="dsyx"  style="display:block">
      <ul>
	  <volist name="zhuan_list" id="zhuan">
          <li>
		    <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$zhuan.a_Id}.html"><img src="{$zhuan.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$zhuan.a_Id}.html">{$zhuan.a_Subject}</a></dt>
			   <dd><span>{$zhuan.SchoolName}</span> {$zhuan.ScholarshipMoney}&nbsp;&nbsp; {$zhuan.Country|get_coutry}&nbsp;&nbsp;{$zhuan.Education|get_education}</dd>
			   <dd>{$zhuan.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-hszy/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
        <volist name="zai_list" id="zai">
          <li>
		  <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$zai.a_Id}.html"><img src="{$zai.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$zai.a_Id}.html">{$zai.a_Subject}</a></dt>
			   <dd><span>{$zai.SchoolName}</span> {$zai.ScholarshipMoney}&nbsp;&nbsp; {$zai.Country|get_coutry}&nbsp;&nbsp;{$zai.Education|get_education}</dd>
			   <dd>{$zai.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-zzsq/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>  
     <div class="dsyx">
      <ul>
         <volist name="di_list" id="di">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$di.a_Id}.html"><img src="{$di.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$di.a_Id}.html">{$di.a_Subject}</a></dt>
			   <dd><span>{$di.SchoolName}</span> {$di.ScholarshipMoney}&nbsp;&nbsp; {$di.Country|get_coutry}&nbsp;&nbsp;{$di.Education|get_education}</dd>
			   <dd>{$di.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-dffz/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
        <volist name="xiao_list" id="xiao">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$xiao.a_Id}.html"><img src="{$xiao.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$xiao.a_Id}.html">{$xiao.a_Subject}</a></dt>
			   <dd><span>{$xiao.SchoolName}</span> {$xiao.ScholarshipMoney}&nbsp;&nbsp; {$xiao.Country|get_coutry}&nbsp;&nbsp;{$xiao.Education|get_education}</dd>
			   <dd>{$xiao.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-xbnx/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
        <volist name="chang_list" id="chang">
          <li>
       <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$chang.a_Id}.html"><img src="{$chang.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$chang.a_Id}.html">{$chang.a_Subject}</a></dt>
			   <dd><span>{$chang.SchoolName}</span>  {$chang.ScholarshipMoney}&nbsp;&nbsp; {$chang.Country|get_coutry}&nbsp;&nbsp;{$chang.Education|get_education}</dd>
			   <dd>{$chang.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-cct/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
        <volist name="diy_list" id="DIY">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$DIY.a_Id}.html"><img src="{$DIY.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$DIY.a_Id}.html">{$DIY.a_Subject}</a></dt>
			   <dd><span>{$DIY.SchoolName}</span> {$DIY.ScholarshipMoney}&nbsp;&nbsp; {$DIY.Country|get_coutry}&nbsp;&nbsp;{$DIY.Education|get_education}</dd>
			   <dd>{$DIY.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-diysl/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
        <volist name="hai_list" id="hai">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$hai.a_Id}.html"><img src="{$hai.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$hai.a_Id}.html">{$hai.a_Subject}</a></dt>
			   <dd><span>{$hai.SchoolName}</span> {$hai.ScholarshipMoney}&nbsp;&nbsp; {$hai.Country|get_coutry}&nbsp;&nbsp;{$hai.Education|get_education}</dd>
			   <dd>{$hai.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-hwsq/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
       <volist name="wen_list" id="wen">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$wen.a_Id}.html"><img src="{$wen.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$wen.a_Id}.html">{$wen.a_Subject}</a></dt>
			   <dd><span>{$wen.SchoolName}</span>  {$wen.ScholarshipMoney}&nbsp;&nbsp;{$wen.Country|get_coutry}&nbsp;&nbsp;{$wen.Education|get_education}</dd>
			   <dd>{$wen.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-wlxy/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
      <volist name="love_list" id="love">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$love.a_Id}.html"><img src="{$love.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$love.a_Id}.html">{$love.a_Subject}</a></dt>
			   <dd><span>{$love.SchoolName}</span>  {$love.ScholarshipMoney}&nbsp;&nbsp;{$love.Country|get_coutry}&nbsp;&nbsp;{$love.Education|get_education}</dd>
			   <dd>{$love.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   <dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-qld/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
     <div class="dsyx">
      <ul>
       <volist name="yi_list" id="yi">
          <li>
		   <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$yi.a_Id}.html"><img src="{$yi.SchoolMicroURL}"  width="90" height="90"/></a></span>
		   <dl>
			   <dt><a href="http://tiandaoedu.com/cgal/lx/{$yi.a_Id}.html">{$yi.a_Subject}</a></dt>
			   <dd><span>{$yi.SchoolName}</span>  {$yi.ScholarshipMoney}&nbsp;&nbsp;{$yi.Country|get_coutry}&nbsp;&nbsp;{$yi.Education|get_education}</dd>
			   <dd>{$yi.a_Summary|mb_substr=0,42,'utf-8'}......</dd>
		   </dl>
          </li>
       </volist>
          <div class="clear"></div>
          <a href="http://tiandaoedu.com/cgal/lx/all-all-all-ys/" class="right alink">查看更多 &gt;</a>
      </ul>
     </div>
</div>
<div class="cgal_05">
     <p class="p_one c2">精选故事分类</p>
     <p class="p_two c22">那些年，我们成功勾搭名校的心经</p>
     <ul>
         <li>
             <p class="bg1">按年份</p>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="qbule">全部</a>
             <a href="http://tiandaoedu.com/cgal/lx/2017-all-all-all/">2017</a>			 
             <a href="http://tiandaoedu.com/cgal/lx/2016-all-all-all/">2016</a>
             <a href="http://tiandaoedu.com/cgal/lx/2015-all-all-all/">2015</a>
             <a href="http://tiandaoedu.com/cgal/lx/2014-all-all-all/">2014</a>
             <a href="http://tiandaoedu.com/cgal/lx/2013-all-all-all/">2013</a>
             <a href="http://tiandaoedu.com/cgal/lx/2012-all-all-all/">2012</a>
             <a href="http://tiandaoedu.com/cgal/lx/2011-all-all-all/">2011</a>
             <a href="http://tiandaoedu.com/cgal/lx/2010-all-all-all/">2010</a>
         </li>
         <li>
             <p class="bg2">按国家</p>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="qbule">全部</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-us-all-all/">美国</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-uk-all-all/">英国</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-ca-all-all/">加拿大</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-sg-all-all/">新加坡</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-hk-all-all/">香港</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-aus-all-all/">澳洲</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-eu-all-all/">欧洲</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-jp-all-all/">日本</a>			 
         </li>
         <li>
             <p class="bg3">按学历</p>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="qbule">全部</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-bs-all/">博士</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-ss-all/">硕士</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-bk-all/">本科</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-bkzx-all/">本科转学</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-gz-all/">高中</a>
             <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/">其他</a>
         </li>
         <li style="margin-right:0" class="yelow ">
             <p class="bg4">按考试</p>
             <a href="http://tiandaoedu.com/cgal/px/" class="qyelow">全部</a>
             <a href="http://tiandaoedu.com/cgal/px/sat/">SAT</a>
             <a href="http://tiandaoedu.com/cgal/px/toefl/">托福</a>
             <a href="http://tiandaoedu.com/cgal/px/ielts/">雅思</a>
             <a href="http://tiandaoedu.com/cgal/px/gre/">GRE</a>
             <a href="http://tiandaoedu.com/cgal/px/gmat/">GMAT</a>
             <a href="http://tiandaoedu.com/cgal/px/ssat/">SSAT</a>
			 <a href="http://tiandaoedu.com/cgal/px/ry/" >日语</a>
         </li>
		  <li>
             <p class="bg5">按就业</p>
             <a href="http://tiandaoedu.com/cgal/hwjy/all-all-all-all/" class="qbule">全部</a>
             <a href="http://tiandaoedu.com/cgal/hwjy/all-all-all-wbq/">五百强</a>
             <a href="http://tiandaoedu.com/cgal/hwjy/all-all-all-h1b/">H-1B</a>
         </li>
     </ul>
</div>
<div class="box_sd">
      <ul>
         <li class="bgs">最新</li>
         <li>推荐</li>
         <li>最热</li>
      </ul>
</div>
<div style="background:#f9f9f9;">
<div class="box1">

	<div class="dsy" style="display:block">
	<volist name="new_list" id="new">
	 <dl>
             <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$new.a_Id}.html"><img src="{$new.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dt><a href="http://tiandaoedu.com/cgal/lx/{$new.a_Id}.html">{$new.a_Subject}</a></dt>
		   <dd><span>{$new.SchoolName}</span>{$new.ScholarshipMoney}&nbsp;&nbsp;  {$new.Country|get_coutry}&nbsp;&nbsp;{$new.Education|get_education}</dd>
           <dd>{$new.a_Summary|mb_substr=0,122,'utf-8'}......</dd>
        </dl>
	  </volist>	
         <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="alink">查看更多 &gt;</a>
</div>

     <div class="dsy">
	 <volist name="tui_list" id="d_list">
         <dl>
             <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$d_list.a_Id}.html"><img src="{$d_list.SchoolMicroURL}" width="90" height="90"/></a></span>
		   <dt><a href="http://tiandaoedu.com/cgal/lx/{$d_list.a_Id}.html">{$d_list.a_Subject}</a></dt>
		   <dd><span>{$d_list.SchoolName}</span>{$d_list.ScholarshipMoney}&nbsp;&nbsp; {$d_list.Country|get_coutry}&nbsp;&nbsp;{$d_list.Education|get_education}</dd>
           <dd>{$d_list.a_Summary|mb_substr=0,122,'utf-8'}......</dd>
        </dl>
	  </volist>	
	  	 <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="alink">查看更多 &gt;</a>
     </div>
     	
     <div class="dsy">
	 <volist name="hot_list" id="hot">
        <dl>
            <span style="height:101px" class="left"><a href="http://tiandaoedu.com/cgal/lx/{$hot.a_Id}.html"><img src="{$hot.SchoolMicroURL}" width="90" height="90"/></a></span>
		    <dt><a href="http://tiandaoedu.com/cgal/lx/{$hot.a_Id}.html">{$hot.a_Subject}</a></dt>
		   <dd><span>{$hot.SchoolName}</span>{$hot.ScholarshipMoney}&nbsp;&nbsp;{$hot.Country|get_coutry}&nbsp;&nbsp;{$hot.Education|get_education}</dd>
           <dd>{$hot.a_Summary|mb_substr=0,122,'utf-8'}......</dd>
        </dl>
      </volist> 
        <a href="http://tiandaoedu.com/cgal/lx/all-all-all-all/" class="alink">查看更多 &gt;</a>
     </div>
 
</div>
</div>
<div class="lunbo_foot" id="lunbo_foot" style="margin-bottom:50px;">
    <p>
      <span class="lf_s1"></span>
      <span class="lf_s2"></span>
    </p>
    
    <li class="lf_li1">
      <a href="http://www.tiandaoedu.cn/" rel="nofollow" class="l_f_a1"></a>
    </li>
    <li class="lf_li2">
      <a href="http://tiandaoedu.com/topic/tdjxj/" class="l_f_a2" ></a>
  </div>
<div class="footbg">
<include file="./base_web/suipian/1000/53_utf8.html" />
<include file="./base_web/suipian/1000/13_utf8.html" />
</div> 
<script src="http://img.tiandaoedu.com/list/js/cgal/lunbo.js"></script>
</body>
</html>